# Ignore compiled Python files
*.pyc

# Ignore log files
*.log

# Ignore node_modules folder
node_modules/

# Ignore environment files
.env

# Ignore all .DS_Store files (macOS)
.DS_Store

/output/
/shorts_with_audio/
/temp_audio/
/videos/
/voiceovers/